/* @import url(https://fonts.googleapis.com/css?family=Lato); */
html {
  min-height: 100%;
  position: relative;
}

.row {
  margin-bottom: 15px;
}

.navbar {
  height: 60px;
}

.jumbotron {
  background: none;
  border-style: none;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  font-size: 3.0em !important;
}

.navbar-toggle {
  position: absolute;
  border-color: white;
  width: 40px;
  height: 40px;
  top: 0;
  left: 20px;
  z-index: 3;
}

.icon-bar {
  background-color: white;
}

.nav-item a {
  color: white !important;
  font-size: 1.8em !important;
}

.nav-item a:hover {
  text-decoration: underline;
}

.progress {
  margin-bottom: 0px !important;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #353540;
  font-size: 1rem;
}

.l-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  width: 100%;
  top: 50%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 30px;
}

@media screen and (max-width: 760px) {
  .l-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.b-game-card h2 {
  margin-top: 95%;
  margin-left: 10%;
  color: white;
}

.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  will-change: transform;
  -webkit-transform: skewX(0.001deg);
          transform: skewX(0.001deg);
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.b-game-card__cover::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.b-game-card:hover .b-game-card__cover {
  -webkit-transform: rotateX(7deg) translateY(-6px);
          transform: rotateX(7deg) translateY(-6px);
}

.b-game-card:hover .b-game-card__cover::after {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.b-game-card::before {
  display: block;
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: skewX(0.001deg);
          transform: skewX(0.001deg);
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  transition: transform .35s ease-in-out, opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
}

.b-game-card:hover::before {
  opacity: 0.6;
  -webkit-transform: rotateX(7deg) translateY(-6px) scale(1.05);
          transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

#bgcanvas {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4C4;
  height: 50px;
  font-size: 1.5em !important;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
/*# sourceMappingURL=index.css.map */